/* Updated Layout.css */
.Report-layout {
  max-height: 100vh;
  display: flex;
  flex-direction: rows;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
scroll-behavior: auto;
  top: 0px;
  box-sizing: border-box;
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('/public/ses.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: none;
  background-attachment: fixed;
  bottom: 0px;
}

