/* Combined and Enhanced DataTable.css for .data-table1-container */
.data-table-container1 {
  overflow-x: auto;
  margin-top: 10vh;
  margin-left: 5vw;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background: rgba(27, 47, 79, 0.5); /* Less transparency for a cleaner look */

  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 85vh;
  width: 100%;
  box-sizing: border-box;
}

.data-table1 {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  background-color: #ffffff;
  border-radius: 8px;
  height: 90%;
  overflow: hidden;
}
.data-table-header1 {
  display: flex;           /* Use flexbox to align children elements */
  justify-content: flex-end; /* Aligns the button to the right */
  padding-right: 1rem;    /* Add padding to the right if needed for spacing */
  height: 5%;             /* Adjust the height if necessary */
}

.data-table1 th,
.data-table1 td {
  padding: 10px; /* More padding for a spacious look */
  text-align: left;
  border-bottom: 1px solid #e7e7e7;
}

.data-table1 th {
  background-color: #2c3e50; /* Darker shade for header */
  color: #ecf0f1; /* Soft white for text */
  font-weight: 600; /* Bolder font for headers */
}

/* Hover effect for headers */
.data-table1 th:hover {
  background-color: #34495e; /* Slightly lighter shade on hover */
  color: #f1c40f; /* Highlight color for text */
  cursor: pointer; /* Indicates the header is clickable (if sorting is implemented) */
  transition: background-color 0.3s, color 0.3s;
}

/* Zebra striping for rows */
.data-table1 tbody tr:nth-child(odd) {
  background-color: #f8f9fa; /* Very light gray for subtle striping */
}

/* Hover effect for rows */
.data-table1 tbody tr:hover {
  background-color: #dae0e5; /* Slightly darker gray on hover */
  transition: background-color 0.3s;
}
.data-table-header1{
  height: 5%;
}
.data-table1-empty {
  text-align: center;
  padding: 20px;
  color: #666;
}

.create-button11 {
 

  background-color: #3498db; /* Brighter blue for the button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.create-button11:hover {
  background-color: #2980b9; /* Darker blue on hover */
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
